<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contato.css">
    <title>Contato</title>
</head>
<body>
    <header>
        <h1><a href="/">DevBurger</a></h1>
    </header>

    <div id="corpo">
        <h1>Entre em contato conosco!</h1>
        <div id="area">
            <form action="/contato" method="POST">
                <label for="">Nome: </label><input type="text" name="nome" id="">
                <label for="">Email: </label><input type="email" name="email" id="">
                <label for="">Assunto: </label><input type="text" name="assunto" id="">
                <label for="">Mensagem: </label><textarea name="mensagem" id=""></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>