<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>DevBurger</h1>
    </header>

    <div id="corpoCardapio">
        <h2>Cardapio</h2>
        <hr>

        <div id="cardapio">
            <div class="hb">
                <h3>Tradicional</h3>
                <div class="descricao">
                    <div>
                        <img src="/public/images/tradicional.jpg" alt="">
                    </div>
                    <div>
                        <p>Pão de brioche, cheddar, alface, tomate, maionese, ketchup</p>
                    </div>
                </div>
            </div>

            <div class="hb">
                <h3>Frango</h3>
                <div class="descricao">
                    <div>
                        <img src="/public/images/frango.jpg" alt="">
                    </div>
                    <div>
                        <p>Pão de brioche, carne de frango, alface, tomate, cebola, maionese, ketchup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>