body{
    margin: 0;
    background-color: rgb(255, 255, 242);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

header{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 9, 63);
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(69, 21, 49);
    border-radius: 5px;
}

.corpoCardapio{
    padding: 20px;
}

#cardapio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    color: white;
}

#cardapio h3{
    color: rgb(179, 9, 63);
}

.descricao{
    display: flex;
}

.hb{
    background-color: rgb(100, 183, 204);
    padding: 20px;
}

#cardapio img{
    max-height: 200px;
}

#area{
    display: flex;
    justify-content: flex-start;
}

fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: rgb(100, 183, 204);
}

form button{
    display: block;
}