body{
    margin: 0;
    background-color: rgb(255, 255, 242);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

header{
    padding: 20px;
    background-color: rgb(179, 9, 63);
    color: white;
}

.corpoCardapio{
    padding: 20px;
}

#cardapio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    color: white;
}

#cardapio h3{
    color: rgb(179, 9, 63);
}

.descricao{
    display: flex;
}

.hb{
    background-color: rgb(100, 183, 204);
    padding: 20px;
}

#cardapio img{
    max-height: 200px;
}

#area{
    display: flex;
    justify-content: flex-start;
}

fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: rgb(100, 183, 204);
}

form button{
    display: block;
}